@import '../../../utils/colors';

.UpdateItemStatusModal{
    .updateItemStatusWrapper{
        position:absolute;
        left:40%;
        top:32%;

        .updateItemStatusHeader{
            background:$grayBlue;
            height:4rem;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            gap: 8rem;

            .headerText{
                margin-left:1rem;
            }

            .closeOutModal{
                .closeOutIcon{
                    margin-right:1rem;
                }
            }

        }

        .updateItemStatuModalBody{
            display:flex;
            justify-content: center;
            background:$white;
            padding-bottom:15rem;
            padding-top:5rem;
            .buttonsAndArrow{
                @import '../ButtonStyles.scss';
            }
        }
    }
    
}