@import '../../utils/_colors.scss';

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: linear-gradient(180deg,rgba(37,66,118,1) 0%, $cityBlue 100%);
    .page-header {
       min-height:7rem;
       width:100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.0rem;
        margin-top: 1rem;
        h1 {
            background: -webkit-linear-gradient(0deg, #FFF7AA 0%, #B9FBFF 44.94%, #FEB6FB 96.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 4rem;
            font-weight:300;
            line-height: 90%;

        }
        p{
            text-align: center;
            margin: 0.1rem;
            margin-top: 3rem;
            font-size: 1.7rem;
        }   

        hr{
            width:20vw;
            height: 1px;
            border: none;
            background-color:$atmGold;
            margin: 1.5rem;

        }  
        img {
            width: 30vw;
            min-width: 200px;
            max-width: 300px;        }
    } 
      
    .form-wrapper{     
        width: 30vw;
        min-width: 360px;
        max-width: 400px;
        display:flex;
        flex-direction: column;
        align-items: center;
        .form-fields{
            display:flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            label {
                margin-bottom: 0.5rem;
            }
            input {
                min-height: 2rem;
                padding-left: 0.5rem;
                color: black;
                border-radius: 4px;
                font-size: 1rem;
            }
            input::placeholder {
                color: red;
                font-size: 1.2rem;
                float: right;
            }
            .inline-error{
                font-size:1.0rem;
                margin:0;
                padding: 0.2rem;
                color:#ffa59f;
            }
            .input-error{
                border: 1px solid $alertRed;
                margin-bottom: 0;
            }
            .form-check{
                display:flex;
                align-items: flex-start;
                padding-left: 0;
                a {
                    color: $gold;
                }
                input{
                    margin-top: 0.3rem;
                    padding-top: 0;
                    margin-left: 0;
                }
                label{
                    margin-top: 0;
                    padding-top: 0;
                    padding-left: 0.5rem;
                    font-size: 0.9rem;
                }
            }
            .phone-mark{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                svg {
                    fill: $atmGold;
                }

                .tooltip-wrapper{
                    position: relative;
                    display: inline-block;
                    border-bottom: 1px dotted black;
                    .tooltiptext{
                        visibility: hidden;      
                        width: auto;
                        font-size: 0.8rem;
                        text-align: center;
                        border-radius: 0.1rem;
                        padding: 0.2rem 0.2rem;                           
                        position: absolute;
                        z-index: 1;
                        background-color: $cityBlue;
                        color: $atmGold;
                        top: 180%;
                        left: -1000%;
                    }
                    &:hover {
                        .tooltiptext{
                            visibility: visible;
                            display: inline-block;
                        }
                    }
                }
            }
            .g-recaptcha{
                margin: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            button{
                width:15rem;
                height:3.0rem;
                border:none;
                border-radius: 0.5rem;
                font-size:1.5rem;
                background-color:$atmGold;
                color: $cityBlue;
                margin-left:auto;
                margin-top:0;
                margin-right:auto;
                color: black;
                cursor:pointer;
                &:hover{
                    filter: brightness(110%);
                }
            }
          }        
        }
    }

    @media(max-width: 600px){
        .main-container {
            display: flex;
            .page-header{
                p{
                    text-align: center;
                    margin: 0.1rem;
                    margin-top: 2rem;
                    font-size: 1.5rem;
                }   
                hr{
                    width:60vw;
                    height: 1px;
                    border: none;
                    background-color:$atmGold;
                    margin: 1.5rem;
        
                }  
            }
            .form-wrapper{
                width: 95vw;
                justify-content: center;
                align-items: center;
                .form-fields{
                    margin-bottom: 0.1rem;
                    padding: 0.2rem;
                    input{
                        font-size:1.0rem;
                        line-height: 140%;
                        margin-bottom: 1.0rem;
                    }            
                    .inline-error{
                        font-size:0.8rem;
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        padding: 0.2rem;
                        color:$alertRed;
                    }                    
                    .g-recaptcha{    
                        transform:scale(0.90);
                        -webkit-transform:scale(0.90);
                    }
                    button{       
                        width:12rem;
                        height:2.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    @media(max-width: 365px){
        .main-container {
            .page-header {
                font-size: 0.8rem;
                h1{
                    font-size: 1.0rem;  
                    font-weight: 600;
                }
            }
            .form-wrapper{
                .form-fields{       
                    input{             
                        margin-bottom: 0.5rem;
                    }
                    label{
                        font-size: 0.7rem;
                        margin: 0.5rem;
                    }      
                    .inline-error{
                        font-size:0.7rem;
                        margin:0;
                        padding: 0.2rem;
                        color:$alertRed;
                    }
                    .phone-mark{
                        .tooltip-wrapper{
                            .tooltiptext{   
                                width: 12rem;                       
                                font-size: 0.6rem;
                                right: 50%;
                            }
                        }
                    }
                    .g-recaptcha{  
                        display: flex;
                        justify-content: center;
                        align-items: center;  
                        transform:scale(0.80);
                        -webkit-transform:scale(0.80);
                    }
                    button{
                        width:10rem;
                        height:2.0rem;
                        margin-top: 0.1rem;
                        font-size:1.2rem;
                    }
                }
            }
        }
    }

           

