@import '../../../utils/colors';

.AdminHeader {
  .top-nav {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background-color: $cityBlue;

    button {
      padding: 0.5em 1em;
      border-radius: 6px;
      border: none;
      background-color: $lightBronze;
      cursor: pointer;

      &:hover {
        background-color: $cityBronze;
      }
    }

    label {
      color: #fff;
    }

    select {
      margin-left: 0.5em;
    }
  }

  .header-text {
    font-size: 2em;
    margin: 1.5em;

    h3 {
      display: inline-block;
      margin: 0;
      padding-bottom: 0.2em;
      padding-right: 2em;
      border-bottom: 2px solid $cityBronze;
      color: $black;
    }
  }
}