@import '../../../utils/colors';

.AdminHeader {

  .top-nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: $cityBlue;
    border: 1px solid blue;
  }

  .header-text {
    font-size: 2em;
    margin: 1.3em;
    border-bottom: 2px solid $cityBronze;
    color: $black;
  }
}