@import "../../utils/_colors.scss";

.user-account-header {
	margin-top: 2em;

	box-sizing: border-box;
	margin-bottom: 1em;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.5em;
	border: 2px solid $cloudy;
	border-radius: 5px;
	background-color: #fff;
}

.logo {
	width: 40%;
	height: auto;
}