# git files
.github
.gitignore
.git
LICENSE
README.md

# node / npm
node_modules

# docker
docker
docker-bake.hcl
docker-compose.yml

# helm / deploy
charts
deployments

# exclude ignore
!docker/frontend/nginx.conf
