@import "../../utils/_colors.scss";

.dropdown-wrapper {
	width: fit-content;
	overflow: hidden; // ensure rounded edges
	border: none;
	// border-radius: 12px;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));

	// box-shadow: 5px 5px 5px lightgrey;
}

.dropdown-item, .dropdown-item-selected {
	padding: 0.35rem 1.1rem 0.35rem 1.1rem;
	font-weight:600;
	font-size:1rem;	
}

.dropdown-item-selected {
  filter: brightness(80%);
	text-shadow: 1px 1px 2px grey;
	cursor: default;
}

.dropdown-item:hover {
		filter: brightness(80%);
}

.selector {
	display: flex;
	justify-content: center;
	align-items: end;
	column-gap: 9px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: none;
}

/** 
*	styling for different possible statuses
**/

.upcoming {
	background:$pendingBlueBackground;
	color:$darkBlue;
	svg{
			fill:$darkBlue;
	}
}

.in-progress {
	background:$darkBlue;
	color:$lightGreen;
	svg{
			 fill:$lightGreen;
	}
}

.ended, .completed {
	background:$pastGray;
	color:$mediumGray;
	svg{
			fill:$mediumGray;
	}
}

.in-recess, .on-hold {
	background:$altWhite;
	color:$darkBlue;
	border:1px solid $pendingBlueBackground;
	svg{
			fill:$darkBlue;
	}
}

.deferred{
	background:$white;
	color:$errorRed;
	svg{
			fill:$errorRed;
	}
}

.meeting-status-dropdown-arrow {
	background-color: $atmGold;
	border-radius: 100%;
}

svg.meeting-status-dropdown-arrow {
	fill: black;
}
