NODE_ENV=development

HAPPENINGATM_DB_HOST=happening-db-host
HAPPENINGATM_DB_PORT=5432
HAPPENINGATM_DB_NAME=happening-db-name
HAPPENINGATM_DB_USER=happening-username
HAPPENINGATM_DB_PASSWORD=happening-password

ZOOM_API_KEY=
ZOOM_API_SECRET=