@import '../../utils/colors';

.meeting-view {
  padding: 0;
  padding-bottom: 2em;
  background-color: $blueSky;
  font-family: 'Poppins', sans-serif;

  @media only screen and (min-device-width: 812px) {
    margin: 0 200px 0;
    padding-bottom: 3em;
    // JY 2023.07: per latest MVP designs
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }

  a {
    text-decoration: none;
  }
  .agend-pdf-link {
    text-decoration: underline;
    margin-left: calc(1rem + 10px); // match AgendaGroup styling
  }
  .join-meeting {
    color: $happeningBlue;
    background-color: $lightGreen;
    border-radius: 5px;

    /* custom edits */
    border: none;
    display: flex;
    align-items: center;
    margin: 1em;
    margin-left: calc(1rem + 10px); // match AgendaGroup styling
    padding: 0.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;

    p {
      /* Join Zoom Meeting */
      position: static;
      width: 88px;
      height: 36px;
      right: 14px;
      top: calc(50% - 36px / 2);

      //font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;

      /* happening blue: 1F2847 */
      color: #1f2847;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 4px;
    }
  }

  .spinner-wrapper {
    margin: 10px;
  }

  .error {
    color: $red;
    margin-left: 10px;
  }
}
