@import '../../utils/colors';

.meeting-view {
  padding: 0;
  background-color: $blueSky;
  font-family: 'Poppins', sans-serif;
  margin: 0 3%;

  @media only screen and (min-width: 812px) {
    margin: 0 200px 0;
    // JY 2023.07: per latest MVP designs for desktop:
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }

  .meeting-view-links {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
  }

  a {
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
    margin-left: calc(1rem + 10px); // match AgendaGroup styling

    .translate-down {
      // translate external site icon down
      transform: translate(0, 25%);
    }
  }

  .agend-pdf-link {
    text-decoration: underline;
    color: $black;
  }

  .join-meeting {
    color: $happeningBlue;
    background-color: $lightGreen;
    border-radius: 5px;
    cursor: pointer;
    /* custom edits */
    border: none;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    height: 3.3rem;
    padding: 15px 20px;

    @media screen and (max-width: 500px) {
      column-gap: 0.5rem;
      padding: 10px 15px;
    }

    p {
      /* Join Zoom Meeting */
      position: static;
      width: 75px;
      height: 36px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $happeningBlue;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
  }

  .spinner-wrapper {
    margin: 10px;
  }

  .error {
    color: $red;
    margin-left: 10px;
  }
}
