@import '../../utils/colors';

.meeting-view {
  padding: 0;
  padding-bottom: 2em;
  background-color: $blueSky;
  font-family: 'Poppins', sans-serif;

  @media only screen and (min-device-width: 812px) {
    margin: 0 200px 0;
    padding-bottom: 3em;
  }

  .view-toggle {
    display: flex;
    background-color: #fff;

    div {
      width: 50%;
      text-align: center;

      button {
        width: 80%;
        margin: 1em auto;
        padding: 0.5em;
        border: none;
        border-radius: 6px;
        background-color: $lightBronze;
        color: $black;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;

        &:hover {
          background-color: $cityBronze;
        }

        @media only screen and (min-device-width: 812px) {
          max-width: 200px;
        }
      }
    }

    .view-active {
      background-color: $blueSky;
      button {
        background-color: $cityBronze;
      }
    }
  }

  .spinner-wrapper {
    margin: 10px;
  }

  .error {
    color: $red;
    margin-left: 10px;
  }
}
