@import '../../utils/_colors.scss';
@import './margin.scss';

$navWidth: 480px;

.admin-navigation {
  max-width: $navWidth;
  display: flex;
  flex-direction: column;
  background: #fff;

  .logo {
    max-width: 300px;
    margin: $navMargin;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-right: $navMargin;
  }

  .admin-publish-button {
    margin: $navMargin auto;
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    background-color: $lightBronze;
    color: $black;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      background-color: $cityBronze;
    }

    &:disabled {
      background-color: #fff;
      border: 4px solid $cloudy;
      color: $cloudy;
      cursor: not-allowed;
    }
  }
}
