@import '../../utils/_colors.scss';

.admin-view {
  display: flex;
  // z-index: 3000;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  // background: $offWhite;
  font-family: 'Poppins', sans-serif;

  .wrapper {
    width: 100%;
    height: 100%;
    background: $blueSky;
  }
}
