@import '../utils/colors';

.meeting-item-icon {
  .top-icon {
    position: absolute;
    z-index: 1;
  }

  &.completed {
    color: $darkTeal;
    .top-icon {
      color: $darkTeal;
      font-size: 18px;
      top: 18px;
      left: 17px;

      @media only screen and (min-device-width: 812px) {
        top: 27px;
        left: 27px;
      }
    }
    .background-circle {
      color: $offWhite;
    }
  }

  &.in-progress {
    color: $mustardYellow;

    .top-icon-2 {
      color: $darkTeal;
      position: absolute;
      z-index: 3;
      font-size: 14px;
      top: 22px;
      left: 19px;

      @media only screen and (min-device-width: 812px) {
        top: 30.5px;
        left: 28.5px;
      }
    }

    .top-icon-1 {
      color: $mustardYellow;
      position: absolute;
      z-index: 2;
      font-size: 18px;
      top: 20px;
      left: 17px;

      @media only screen and (min-device-width: 812px) {
        top: 29.5px;
        left: 26.5px;
      }
    }

    .top-icon {
      color: $darkTeal;
      font-size: 26px;
      top: 17px;
      left: 13px;

      @media only screen and (min-device-width: 812px) {
        top: 26.5px;
        left: 22.5px;
      }
    }

    .background-circle {
      color: $mustardYellow;
    }
  }

  &.moved {
    color: $darkTeal;

    .top-icon {
      color: $darkTeal;
      font-size: 18px;
      top: 18px;
      left: 23px;

      @media only screen and (min-device-width: 812px) {
        top: 28px;
        left: 32.5px;
      }
    }

    .background-circle {
      color: $offWhite;
    }
  }

  &.pending {
    color: $offWhite;

    .top-icon {
      color: $teal;
      font-size: 26px;
      top: 17px;
      left: 13px;

      @media only screen and (min-device-width: 812px) {
        top: 27px;
        left: 23px;
      }
    }

    .background-circle {
      color: $offWhite;
    }
  }
}
