@import "./margin.scss";

.admin-navigation {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  background: #fff;

  .logo {
    max-width: 300px;
    margin: $navMargin;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-right: $navMargin;
  }
}
