@import "../../utils/_colors.scss";

.admin-view-header {
  margin: 3em;

  h1 {
    margin: 0;
    padding-bottom: 0.4em;
    padding-right: 1em;
    border-bottom: 2px solid $cityBronze;
    color: $black;
  }
}