@import '../../utils/colors';

.meeting-item-list-view {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  margin: 0 10px 20px;
  padding: 10px;

  @media only screen and (min-device-width: 812px) {
    margin: 0 0 20px;
    padding: 20px;
  }

  .details {
    display: flex;
    flex-direction: column;
    margin: 0 15px 20px;
    line-height: 1.5;
  }

  .status {
    padding-top: 10px;
  }

  &.completed {
    background: $lightGray;
    color: $darkTeal;
  }

  &.in-progress {
    background: $darkTeal;
    color: $mustardYellow;

    .details {
      color: $offWhite;
    }

    .status {
      color: $mustardYellow;
    }
  }

  &.moved {
    background: $lightGray;
    color: $darkTeal;
  }

  &.pending {
    background: $teal;
    color: $offWhite;
  }

  .meeting-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 8px;
    font-size: 12px;

    i {
      margin-right: 5px;
    }
  }
}
