@import '../../utils/colors';

.ChangeMeetingStatus{
    .modalAgendaItemWrapper{
        .AgendaItem{
            border:solid 4px $darkBlue;
        }
    }

    .listModalWrapper{
        .closeOutModal{
            position: absolute;
            color: white;
            fill: white;
            left: 5rem;
            bottom: 20.4rem;
            width:100%;
            cursor:pointer;

            .closeOutText{
                position: relative;
                bottom: 0.4rem;
                font-weight: 600;
            }
        }
    }

    @import './ButtonStyles.scss';



}