
$offWhite: #f0f0f0;
$lightGray: #a6a6a6;
$gray: #737373;
$darkGray: #565c65;

$mustardYellow: #dfc14a;

$teal: #3c7e89;
$darkTeal: #153948;

$red: #8b0a03;

$royalBlue: #1a4480;
$darkRoyalBlue: #162E51;
