.admin-upload {
  width: 100%;
  margin: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-area {
  padding: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;

  p {
    margin: 0.5em 0;
  }
}