.admin-upload {
  position: relative;
  width: 100%;
  margin: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-area {
  padding: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;

  p {
    margin: 0.5em 0;
  }

  label {
    text-decoration: underline;
    cursor: pointer;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
  }
}