@import '../../../utils/_colors';

.updateStartTimeModal {
  .updateStartTimeWrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 21.875rem;
    height: 18.9375rem;

    .updateStartTimeHeader {
      background: $gold;
      height: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;

      .headerText {
        margin-left: 2rem;
        color: $darkBlue;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .closeOutIcon {
        cursor: pointer;
        fill: $darkBlue;
        margin-right: 1.5rem;
      }

    }

    .updateStartTimeModalBody {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.875rem;
      gap: 1.5625rem;
      background: $white;

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .625rem;

        .form-inputs {
          display: flex;
          align-items: center;
          gap: .625rem;
          border-radius: .25rem;

          input {
            border-radius: .25rem;

            &:checked+label {
              background: $gold;
            }

            &[type=text] {
              background: $white;
              border: .0625rem solid $darkBlue;
              height: 2.5rem;
              width: 4.875rem;
            }

            &[type=radio] {
              opacity: 0;
              position: absolute;

              &:focus+label {
                outline: auto .1875rem;
              }
            }
          }

          .meridian-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.75rem;
            height: 1.9375rem;
            background: $grayBlue;
            border-radius: 0.25rem;
          }
        }

        .error {
          display: flex;
          justify-content: space-between;
          width: 100%;
          color: $errorRed;
          font-size: 0.75rem;

          span {
            visibility: hidden;

            &.visible {
              visibility: visible;
            }
          }
        }
      }

      @import '../../../utils/statusButtons.scss';

      .statusChangeDescription {
        margin: 2.1rem 0;
      }

      .publishOrCancelButtons {
        display: flex;
        gap: 5rem;

        .publish {
          background: $gold;
          border: none;
          padding: 1rem 2rem;
          border-radius: .5rem;
          font-size: 1.3rem;
        }

        .publish:hover {
          cursor: pointer;
        }

        .cancel {
          border: none;
          background: none;
          padding: 0;
          font-size: 1.1rem;
          font-weight: bold;
        }

        .cancel:hover {
          cursor: pointer;
        }
      }
    }
  }
}