@import "../../utils/_colors.scss";

.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  /* prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}

footer {
  
  z-index: 9000;
  width: 100%;
  height: 100%;
  padding: 32px 2.5vw 3em;
  margin-bottom: auto;
  background: linear-gradient(180deg, $cityBlue 35%, rgba(37, 66, 118, 1) 140%);
  /* prevent unintended horizontal scroll */
  box-sizing: border-box;
  

  a {
    color: white;
    font-size: 12px;
  }

  hr {
    width:50vw;
    min-width: 320px;
    margin:24px 0 24px 0;
    height:1px;
    border:none;
    background-color:rgba($color: #ffffff, $alpha: 0.1);
  }

  .separator{
    display: flex;
    justify-content: center;
  }

  .logos {
    margin-top: 3rem;
    color: $white;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    .OSJ {
      width: 96px;
    }
    .CFSJ {
      width: 64px;
    }
  }
  .legal {
    margin: auto;
    margin-bottom: 32px;
    font-size: 12px;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;

    a {
      text-decoration: none;

    }
    a:visited {
      color: $pastGray;
    }
  }

  .languages {
    margin: auto;
    margin-bottom: 32px;
    font-size: 14px;
    color: $white;
    display: flex;
    gap: 0;
    justify-content: center;
    button {
      padding: 0.2em 0.3em;
      margin: 0 0.3em;
      cursor: pointer;
      color: $offWhite;
      font-size: 1em;
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      outline: none;
      &:hover {
        border-bottom: 2px solid $offWhite;
      }
      &.current-language {
        border-bottom: 2px solid $atmGold;
      }
    }
  }
}

.footer-pages-container {
  padding: 5rem 3rem 2rem 3rem;
  font-family: "Poppins", "sans-serif";
  .email-text {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
  }
  h2 {
    margin-top: 3rem;
  }
}
