@import "../../utils/colors";

.DeleteMeetingModal {
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  background-color: white;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;

  .modal-header {
    position: relative;
    background-color: $opaqueGold;
    border-radius: 6px 6px 0 0;
    text-align: center;

    h2 {
      display: inline-block;
      margin: 0;
      color: $black;
      font-weight: 600;
      padding: 1rem;
    }

    .cancel-button {
      position: absolute;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: scale(0.8);
    }

    .close-modal {
      right: 0.5em;
      top: 0.5em;
    }
  }

  .wrapper {
    position: relative;
    padding: 1em 3em 3em 3em;

    button {
      font-family: "Poppins", sans-serif;
    }

    .delete-meeting-info {
      font-size: 1.4em;
      text-align: center;
    }

    .modal-buttons {
      display: flex;
      justify-content: flex-end;

      .modal-button {
        width: 164px;
        padding: 0.5em 0;
        margin-left: 1em;
        border-radius: 6px;
        border: 4px solid transparent;
        background-color: $pastGray;
        color: $black;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;

        &:hover {
          background-color: $cityBronze;
        }
      }

      .delete-button {
        display: flex;
        justify-content: center;
        background-color: $errorRed;
        color: #fff;
        font-weight: 500;

        &:hover {
          background-color: #bd170f;
        }

        .spinner {
          margin-right: 1em;
        }
      }
    }
  }
}
