@import '../../utils/_colors.scss';

.header {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;

  .header-content {
    background: $darkTeal;
    color: $offWhite;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    @media only screen and (min-device-width: 812px) {
      padding: 30px 30px 200px;
      margin: 0 200px;
    }

    .header-buttons {
      padding: 0 20px;
      justify-content: space-between;

      .admin-login-button {
        margin-right: 20px;
      }
    }

    .meeting-info {
      margin-top: 20px;
      margin-right: 20px;
    }

    .title,
    .date {
      text-align: right;

      @media only screen and (min-device-width: 812px) {
        padding-right: 40px; // TODO
      }
    }

    .title {
      font-size: 20px;
      padding-bottom: 10px;

      @media only screen and (min-device-width: 812px) {
        font-size: 40px;
      }
    }

    .date {
      font-size: 16px;
      padding-bottom: 40px;

      @media only screen and (min-device-width: 812px) {
        font-size: 26px;
      }
    }

    .hide {
      // TODO
    }
  }
}
