NODE_ENV=development

PGHOST=
PGUSER=
PGPASSWORD=
PGDATABASE=
PGPORT=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
SEND_TEXT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
FROM_ADDRESS=
SEND_EMAIL=

JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MICROSOFT_CLIENT_ID=