@import '../../utils/_colors.scss';

.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  /* prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}

header {
  width: 100%;
  background-color: $cityBlue;
  padding: 0.5em 2.5vw;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  // JY Edits: to ensure meeting status is aligned
  height: 65px;

  nav {
    max-width: 1020px;
    margin: 0 auto;

    * {
      color: $offWhite;
      font-family: 'Poppins', sans-serif;
    }
    a {
      text-decoration: none;
      padding: 0.3em 0.5em !important;
      transition: 0.15s;
      &:hover {
        opacity: 0.7;
      }
    }

    .nav-bar {
      padding: 1em 5vw;
      background-color: $happeningBlue; //$cityBlue;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100vw;
      box-sizing: border-box;
      top: 0;
      left: 0;
      align-items: center;
      .nav-title {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }

    .home-button-group {
      display: flex;
      align-items: center;
    }

    .home-button-text {
      padding-left: 12px;
      font-size: 16px;
      font-weight: 500;
    }

    .button-icon {
      cursor: pointer;
    }

    .nav-links {
      width: 100%;
      height: 100vh;
      margin: 0;
      box-sizing: border-box;
      //background-color: $cityBlue;
      background: linear-gradient(180deg, #254276 14.83%, #1f2847 71.34%);
      position: absolute;
      top: 3em;
      left: 0;
      z-index: 1;
      padding: 8vh 5vw 10vh;
      transform: translateY(-111%);
      transition: 0.2s;
    }

    .nav-link-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.nav-links-active {
  transform: translateY(0) !important;
}

@media (min-width: 1296px) {
  .home-button-icon {
    margin-right: auto;
  }
  .nav-link-group {
    margin-left: auto;
  }
  .sign-out {
    margin-left: 2em;
  }
}

@media (max-width: 1440px) {
  header nav .nav-bar {
    padding: 1em 3vw;
  }
}

@media (max-width: 1375px) {
  header nav .nav-bar {
    padding: 1em 2vw;
  }
}

@media (max-width: 991px) {
  button.sign-out {
    margin-top: auto;
  }
  .nav-links-scroll {
    margin-bottom: auto;
  }
}
