@import '../../utils/_colors.scss';

$navMargin: 2.5em;

.header-nav-link {
  list-style-type: none;

  a {
    display: block;
    width: 100%;
    padding: 0.8em 0;
    padding-left: $navMargin;
    border: none;
    background: transparent;
    color: $black;
    cursor: pointer;
    text-decoration: none;

    .button-group {
      display: flex;

      .button-group-inner {
        padding: 0 0em;
      }
    }

    &:hover {
      background: $cityBlue5;
    }
  }

  .button-icon {
    vertical-align: middle;
    fill: $black;
  }

  .button-text {
    margin-left: 12px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: 500;
  }

  .button-active {
    border-left: 8px; // solid $cityBlue;
    background: $cityBlue10;
    color: $cityBlue;
    box-sizing: content-box;

    .button-icon {
      fill: $cityBlue;
    }

    &:hover {
      background: $cityBlue10;
    }
  }

  @media (max-width: 1225px) {
    .button-text {
      font-size: 0.9em;
    }
  }
}
