@import './utils/_colors.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.app-root {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  min-height: 100vh;
}

// Common Classes
.responsive-padding {
  @media only screen and (min-device-width: 812px) {
    padding: 0 200px;
  }
}

.hide {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

.show {
  visibility: visible;
  display: unset;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  background: $offWhite;
  color: $darkTeal;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 10000;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.2);
}
