@import '../../utils/_colors.scss';
@import '../../utils/_fonts.scss';

.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  /* prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}

header {
  width: 100%;
  background-color: $cityBlue;
  // height: 8vh;
  padding: 0.5em 2.5vw;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  // margin: inherit;

  nav {
    max-width: 1020px;
    margin: 0 auto;

    * {
      color: $offWhite;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
    }
    a {
      text-decoration: none;
      padding: 0.3em 0.5em !important;
      transition: 0.15s;
      &:hover {
        opacity: 0.5;
      }
    }

    .nav-bar {
      padding: 1em 5vw;
      background-color: $cityBlue;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100vw;
      box-sizing: border-box;
      top: 0;
      left: 0;
      .nav-title {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }

    .nav-links {
      width: 100%;
      height: 100vh;
      margin: 0;
      box-sizing: border-box;
      background-color: $cityBlue;
      position: absolute;
      top: calc(1.08em - 0.05vw + 0.5em + 0.3em);
      left: 0;
      z-index: 1;
      padding: 8vh 5vw 0vh;
      transform: translateY(-111%);
      transition: 0.2s;
    }
  }
}

.nav-links-active {
  transform: translateY(0) !important;
}
