@import "../../utils/colors";

.navigation-menu {
  background: $offWhite;
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  transition: opacity 0.5s, visibility 0s 0.5s;

  .show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
    z-index: 2000;

    background: $darkTeal;
    color: $offWhite;
    display: flex;
    flex-direction: column;
  }

  .hide {
    visibility: hidden;
    opacity: 0;
  }
}