@import '../../utils/_colors.scss';

.nav-links {
  .nav-links-title {
    color: $offWhite;
    font-size: 18pt;

    position: relative;
    left: 3pt;

    padding-bottom: 0.3em;
    width: 8em;
    border-bottom: 3px solid #cc9966;
    margin-bottom: 2em;
  }

  ul.nav-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;

    li {
      svg {
        padding-right: 0.3em;
        height: 1.2em;
        position: relative;
        top: 0.22em;
        fill: $offWhite;
      }
    }
  }
}
