@import '../../utils/_colors.scss';

ul.nav-links {
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  // height: 5vh;
  position: absolute;
  background-color: $cityBlue;
  flex-direction: column;
  max-width: none;
  top: calc(1.08em - 0.05vw + 0.5em + 0.3em);
  left: 0;
  padding: 2em;
  margin: 0;
  box-sizing: border-box;

  li {
    a {
      text-decoration: none;
      padding: 0.3em 0.5em !important;
      transition: 0.15s;
      &:hover {
        opacity: 0.5;
      }
      svg {
        padding-right: 0.3em;
        height: 1.2em;
        position: relative;
        top: 0.22em;
      }
    }
  }
}
