.AgendaView {
  padding: 0 1.25em;

  .complete-toggle {
    padding: 0;
    display: inline-flex;
    align-items: center;
    border: none;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;

    p {
      margin: 0 0.5em;
    }
  }

  .agenda {
    margin: 1.5em 0;
  }
}