@import "../../../utils/_colors.scss";

.AgendaItem {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $darkGrayX;
  border-radius: 5px;
  background-color: $white;

  // agenda item bg classes
  &.completed,
  &.deferred {
    background-color: $backgroundWhite;
    border-color: $gray;
  }

  &.in-progress {
    background-color: $itemInProgress;
    border-color: $lightBlue;
  }

  &.on-hold {
    border-color: $lightBlue;
  }
  @media only screen and (min-device-width: 812px) {
    padding: 1.4em;
  }

  .row {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    h4 {
      margin: 0;
      display: inline-block;
      font-weight: 500;
    }

    .item-status {
      text-align: right;
      font-weight: 600;

      svg {
        fill: $lightGreen;
      }
    }

    input[type="checkbox"] {
      margin-right: 1em;
      transform: scale(1.4);
    }
  }

  p {
    margin: 2em 0;
  }

  // set default button style for agenda item
  button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
    color: $lightBlue;
  }

  .form-error {
    color: $red;
    font-size: 0.8em;
  }

  .item-links {
    // changed to grid to align links properly
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    .disabled .link {
      fill: $cloudy;
      color: $cloudy;
    }

    a {
      color: $lightBlue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .link {
      display: flex;
      align-items: center;
      fill: $lightBlue;
      color: $lightBlue;
      font-size: 0.8em;
      // more info link
      &:first-child {
        text-decoration: underline;
        cursor: pointer;
      }
      // items in column 3 of the grid
      &:last-child,
      &.statusButtons {
        text-decoration: none;
      }
      // column 2 of grid
      &.status {
        justify-self: center;

        svg {
          margin-right: .3rem;
          width: .625rem;
          height: .625rem;
          fill: $lightGreen;
        }
      }
      button {
        text-decoration: underline;
        font-size: 1em;
      }
      .time {
        display: flex;
        align-items: center;
        column-gap: .2rem;
        background: $pendingBlueBackground;
        padding: .1875rem .375rem;
        font-size: 1.1em;
        border-radius: .5rem;
        font-weight: 600;
        letter-spacing: normal; // body is set to 1.5px, resetting here

        &.admin {
          padding-right: .1875rem;

          span {
            font-size: inherit;
          }
          button {
            width: 1.3rem;
            height: 1.3rem;

            svg {
              opacity: 50%;
              fill: $lightBlue
            }
          }
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      p {
        margin: 0;
        margin-left: 0.2em;

        @media only screen and (min-device-width: 812px) {
          margin: 0.5em 0 0.5em 0;
          font-size: 1.1em;
        }
      }
      // item status classes
      p.complete {
        color: $darkGrayX;
        text-decoration: none;
        text-transform: capitalize;
      }
      p.deferred {
        color: $errorRed;
        font-weight: 600;
        align-self: center;
        text-decoration: none;
        text-transform: capitalize;
      }
      p.in-progress,
      p.on-hold {
        color: $statusIndicator;
        text-transform: capitalize;
      }
      p.on-hold {
        font-weight: 500;
      }
      p.notify-me {
        background: $gold;
        border-radius: 5px;
        padding: 10px;
        font-weight: 500;
        color: $lightBlue;
        transition: ease-in 400ms;
        cursor: pointer;
        &:hover {
          background: darken($gold, 20%);
        }
      }
      p.notify-me.subscribing {
        background: linear-gradient(
          to left,
          #ffef64 0%,
          #99ceff 46.35%,
          #ffa6d6 100%
        );
      }
      p.subscribed {
        color: $lightBlue;
        font-weight: 600;
        margin-right: .3rem;
      }
      p.subscribed ~ svg {
        height: 14px;
        width: 14px;
        vertical-align: middle;
      }
    }
  }

  //These styles are shared with ChangeMeetingStatus component
  @import '../../../utils/statusButtons.scss';
  .statusButtons {
    .relativeWrapper {
      position: relative;
        right: 2.3rem;
        top: 0.25rem;
        cursor: pointer;
        border: none;

      .buttonDownArrow {
        position: absolute;
        border: none;
        background: none;
      }
    }
  }
}

.active-item {
  border: 3px solid $cityBronze;
}

@media (max-width: 768px) {
  .item-links {
    display: flex;
    justify-content: space-between;
  }
  .link:not(:first-child) {
    margin-left: unset;
  }
}
