@import "../../../utils/_colors.scss";

.AgendaGroup {
  .group-header {
    margin-bottom: 0.8em;
    .group-button {
      padding: 1em;
      border-radius: 4px;
      background-color: $pastGray;
      color: $darkGrayX;
      cursor: pointer;

      &:hover {
        background-color: $lightGray;
      }

      .group-title {
        margin-left: 20px;
        position: relative;

        .groupStatus{
          font-size:0.875em;
          margin-left:0.95em;
          color:$lightGreen;
          svg{
            position:relative;
            width:0.875em;
            top:0.25em;
            margin-right:0.389em;
          }
        }
      }
      .button-text {
        display: flex;
        justify-content: space-between;

        .group-in-progress{
          fill:#fff;
        }
        .group-not-in-progress{
          fill:$darkGrayX;
        }
      }
    }

    .active{
      background-color: $cityBlue;
      color:#fff;
      &:hover{
        background-color: $lightBlue;
      }
    }
  }

  .group-items {
    animation: fadein 0.3s ease-in;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}