@import "../../../utils/_colors.scss";

.AgendaGroup {
  .group-header {
    margin-bottom: 0.8em;
    .group-button {
      padding: 1em;
      border-radius: 4px;
      background-color: $pendingBlueBackground;
      color: $darkBlue;
      cursor: pointer;

      //not sure what color we want to use here
      // &:hover {
      //   background-color: $lightBlue;
      // }

      .group-title {
        margin-left: 20px;
        position: relative;
        display:flex;

        .groupStatus{
          font-size:0.875em;
          color:$lightGreen;
          svg{
            position:relative;
            width:0.875em;
            top:0.25em;
            margin-right:0.389em;
          }
        }
      }
      .button-text {
        display: flex;
        justify-content: space-between;

        .group-icon{
          .expansionIcon{
            fill:$darkBlue;
            position:relative;
            bottom:0.22em;
            z-index:1;
          }
          .expansionIconStatus{
            position: absolute;
            right: 2.5em;
            
            .baseIcon{
              transform:scale(1.25);
            }

            .nextIcon{
              fill:$lightGreen;
            }

            .completedIcon{
              fill:#fff;
            }
          }

          @media screen and (min-width:812px){
            .expansionIconStatus{
              right:15.05em;      
            }
          }
        }
      }
    }
    .completedClass{
      background-color: $pastGray;
      &:hover{
        background-color: $lightGray;
      }
    }

    .nextItem{
      background-color: $cityBlue;
      color:#fff;
      &:hover{
        background-color: $lightBlue;
      }
    }
  }

  .group-items {
    animation: fadein 0.3s ease-in;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}