@import "../../../utils/_colors.scss";

.AgendaItem {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid $cloudy;
  border-radius: 5px;
  background-color: #fff;

  @media only screen and (min-device-width: 812px) {
    padding: 1.4em;
  }

  .row {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    h4 {
      margin: 0;
      display: inline-block;
      font-weight: 500;
    }

    .item-status {
      text-align: right;
      font-weight: 600;

      svg {
        fill: $lightGreen;
      }
    }

    input[type="checkbox"] {
      margin-right: 1em;
      transform: scale(1.4);
    }
  }

  p {
    margin: 2em 0;
  }

  // set default button style for agenda item
  button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
    color: $lightBlue;
  }

  .form-error {
    color: $red;
    font-size: 0.8em;
  }

  .item-links {
    display: flex;
    justify-content: space-between;
    
    .disabled .link {
      fill: $cloudy;
      color: $cloudy;
    }

    a {
      color: $lightBlue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .link {
      display: flex;
      align-items: center;
      fill: $lightBlue;
      color: $lightBlue;
      font-size: 0.8em;

      &:first-child,
      &:nth-child(2) {
        p, button {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &:last-child {
        p {
          text-decoration: none;
        }
      }

      .time {
        display: flex;
        align-items: center;
        column-gap: .2rem;
        background: $pendingBlueBackground;
        padding: .1875rem .375rem;
        font-size: .75rem;
        border-radius: .5rem;
        font-weight: 600;
        letter-spacing: normal; // body is set to 1.5px, resetting here

        &.admin {
          padding-right: .1875rem;

          button {
            width: 1.3rem;
            height: 1.3rem;

            svg {
              opacity: 50%;
            }
          }
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      p {
        margin: 0;
        margin-left: 0.2em;

        @media only screen and (min-device-width: 812px) {
          margin: 0.5em 0 0.5em 0;
          font-size: 1em;
        }
      }

      p.disabled {
        color: $disabledGray;
        text-decoration: none;
      }
      p.deferred {
        color: $errorRed;
        font-weight: 600;
        text-decoration: none;
      }

      p.notify-me {
        background: $gold;
        border-radius: 5px;
        padding: 10px;
        font-weight: 500;
        color: $lightBlue;
        transition: ease-in 400ms;
        &:hover {
          background: darken($gold, 20%);
        }
      }
      p.notify-me.subscribing {
        background: linear-gradient(
          to left,
          #ffef64 0%,
          #99ceff 46.35%,
          #ffa6d6 100%
        );
      }
    }
  }

  //These styles are shared with ChangeMeetingStatus component
  @import '../../../utils/statusButtons.scss';
  .statusButtons {
    .relativeWrapper {
      position: relative;
        right: 2.3rem;
        top: 0.25rem;
        cursor: pointer;
        border: none;

      .buttonDownArrow {
        position: absolute;
        border: none;
        background: none;
      }
    }
  }
}

.active-item {
  border: 3px solid $cityBronze;
}

@media (max-width: 768px) {
  .item-links {
    display: flex;
    justify-content: space-between;
  }
  .link:not(:first-child) {
    margin-left: unset;
  }
}
