@import "../../../utils/_colors.scss";

//overlaid on top of the actual checkbox, this is necessary for drag overlay to work
.overlaidCheckBox{
  position: relative;
  transform: scale(1.4);
  z-index: 2;
  top: 1.3rem;
  left: 1.125rem;

  @media only screen
  and (min-device-width: 812px) {
    top: 1.71rem;
    left: 1.5625rem;
  }
  
}

.completeOvrLaidChkBx{
  position: relative;
  transform: scale(1.4);
  z-index: 2;
  top: 2.79rem;
  left: 1.125rem;

  @media only screen
  and (min-device-width: 812px) {
    top: 3.2rem;
    left: 1.5625rem;
  }
}

.relativeEmptyContainer{
  width:0px;
  height:0px;
  position:relative;
}

.hideCheckBox{
  display:none;
}

.AgendaItem {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid $cloudy;
  border-radius: 5px;
  background-color: #fff;

  @media only screen
  and (min-device-width: 812px) {
    padding: 1.4em;
  }

  .item-status {
    text-align: right;
    font-weight: 600;
  }

  .row {
    margin-top: 5px;
    h4 {
      margin: 0;
      display: inline-block;
      font-weight: 500;
    }

    input[type="checkbox"] {
      margin-right: 1em;
      transform: scale(1.4);
    }
  }

  p {
    margin: 2em 0;
  }

  .item-links {
    display: flex;
    justify-content: space-evenly;

    .disabled .link {
      fill: $cloudy;
      color: $cloudy;
    }

    a {
      color: $lightBlue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .link {
      display: flex;
      align-items: center;
      fill: $lightBlue;
      font-size: 0.8em;

      p {
        margin: 0;
        margin-left: 0.2em;

        @media only screen
        and (min-device-width: 812px) {
          margin: 0.5em;
          font-size: 1em;
        }
      }
    }
  }
}

.active-item {
  border: 3px solid $cityBronze;
}