@import "../../../utils/_colors.scss";

.AgendaGroup {
  .group-header {
    margin-bottom: 0.8em;

    .group-button {
      padding: 1em;
      border-radius: 4px;
      background-color: $cityBlue;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: $lightBlue;
      }

      .group-title:before {
        display: inline-block;
        content: '';
        height: 0;
        width: 0;
        margin-right: 1em;
        border-top: 0.5em solid transparent;
        border-bottom: 0.5em solid transparent;
        border-left: 0.5em solid currentColor;
        transition: 0.1s ease-in transform;
      }

      &[aria-expanded='true'] .group-title::before,
      &[aria-selected='true'] .group-title::before {
          transform: rotate(90deg);
      }

      .button-text {
        display: flex;
        justify-content: space-between;

        .group-status {
          font-weight: 600;
        }
      }
    }
  }

  .group-items {
    animation: fadein 0.3s ease-in;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}