// MVP colors
$backgroundWhite: #FBFAF9;
$gray: #C8C8C8;
$atmGold: #F6D684;
$errorRed: #C03A3A;
$alertRed: #FFB3B3;
$backgroundGradient: linear-gradient(180deg, rgba(31,40,71,1) 0%, rgba(37,66,118,1) 100%);
$itemInProgress: #F2FFFC;
$liveGreen: #7BDE97;
$upcoming: #CEE9F3;
$cityBlue: #1F2847;
$statusIndicator: #003366;

//Archive, might be still referenced

$white: #ffff;
$offWhite: #f0f0f0;
$altWhite: #F2FFFC;
$lightGray: #a6a6a6;
$mediumGray: #808080;
$pastGray: #ECECEC;
$grayBlue: #E5EAEF;
$darkGray: #565c65;
$darkGrayX: #343434;
$disabledGray: #979797;


$mustardYellow: #dfc14a;
$gold: #f6d684;
$darkgold: #cf9165;

$teal: #3c7e89;
$darkTeal: #153948;

$red: #8b0a03;
$errorRed: #a80000;

$royalBlue: #1a4480;
$darkRoyalBlue: #162e51;


$cityBronze: #cc9966;
$lightBronze: #d5bba2;
$lightBlue: #02468b;
$pendingBlueBackground:#CEE9F3;
$darkBlue:#1F2847;
$blueSky: #f0f5fa;
$cloudy: #cbc8c8;
$black: #131523;
$cityBlue5: hsla(210, 100%, 20%, 0.05);
$cityBlue10: hsla(210, 100%, 20%, 0.1);
$happeningBlue: #1F2847;
$lightGreen: #7bde97;
$alertGreen: #4bc645;
