$offWhite: #f0f0f0;
$lightGray: #a6a6a6;
$gray: #737373;
$darkGray: #565c65;
$disabledGray: #979797;

$mustardYellow: #dfc14a;
$gold: #f6d684;
$darkgold: #cf9165;

$teal: #3c7e89;
$darkTeal: #153948;

$red: #8b0a03;
$errorRed: #a80000;

$royalBlue: #1a4480;
$darkRoyalBlue: #162e51;

$cityBlue: #003366;
$cityBronze: #cc9966;
$lightBronze: #d5bba2;
$lightBlue: #02468b;
$blueSky: #f0f5fa;
$cloudy: #cbc8c8;
$black: #131523;
$cityBlue5: hsla(210, 100%, 20%, 0.05);
$cityBlue10: hsla(210, 100%, 20%, 0.1);
$happeningBlue: #1F2847;
$liveGreen: #7BDE97;

