@import './colors';

$font-weight:600;
$font-size:1rem;

.statusButtons{
    list-style:none;
    padding:0;
    margin:0;
    justify-self: end;
    input{
        width:8rem;
        height:2rem;
        border:none;
        border-radius:8px;
        font-weight:700;
    }
    input:hover{
        cursor:pointer;
    }

    .fakeButton:hover{
        cursor:default;
    }

    .upComing{
        background:$pendingBlueBackground;
        color:$darkBlue;
        font-weight:$font-weight;
        font-size:$font-size;
        svg{
            fill:$darkBlue;
        }
    }
    .inProgress{
        background:$darkBlue;
        color:$lightGreen;
        font-weight:$font-weight;
        font-size:$font-size;
        svg{
            fill:$lightGreen;
        }
    }
    .completed{
        background:$pastGray;
        color:$mediumGray;
        font-weight:$font-weight;
        font-size:$font-size;
        svg{
            fill:$mediumGray;
        }
    }
    .onHold{
        background:$altWhite;
        color:$darkBlue;
        font-weight:$font-weight;
        font-size:$font-size;
        border:1px solid $pendingBlueBackground;
        svg{
            fill:$darkBlue;
        }
        
    }
    .deffered{
        background:$white;
        color:$errorRed;
        font-weight:$font-weight;
        font-size:$font-size;
        .svg{
            fill:$errorRed;
        }
    }

}
// button styles for the change agenda item status modal
.listModalWrapper {
  .statusButtons {
    width: fit-content;
    border: 1px solid $cityBlue;
    border-radius: 8px;

    
    > li:first-child input {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    > li:last-child input {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  input {
    height: 3rem;
    border-radius: 0;
  }
}
