@import '../../utils/_colors.scss';

.back-navigation {
  background: $cityBlue;
  position: fixed;

  .back-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;

    @media screen and (min-width: 812px) {
      max-width: 812px;
      margin: 0 auto;
    }

    button {
      background-color: $cityBlue;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 1em;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      svg {
        fill: white;
        width: 34px;
        height: 34px;
      }
    }
  }
}
