@import "../../utils/colors";

.MeetingListView {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;

  .meeting-list-header {
    padding: 0.5em 1.25em;

    .logo {
      width: 77px;
    }

    h2 {
      margin: 0.5em 0;

      // &::after {
      //   display: block;
      //   content: "";
      //   margin-top: 0.2em;
      //   height: 2px;
      //   width: 8em;
      //   background-color: $cityBronze;
      // }
    }

    .sub-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      font-size: 16px;
    }
    .meeting-links {
      a {
        color: $lightBlue;
        text-decoration: none;
      }
    }
    button {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      border: none;
      border-radius: 0.5rem;
      background-color: $atmGold;
      color: $lightBlue;
      font-size: 14px;
      font-weight: 400;
      // cursor: pointer;

      p {
        margin: 0;
        margin-left: 0.4em;
      }
      &:hover {
        box-shadow: 0 0 4px $cityBronze inset;

      }
    }

    @media only screen and (min-width: 991px){
      margin: 0 8em;
      padding-left: 4.5em;

      .logo {
        display: none;
      }

      .sub-header {
        display: block;
      }

      h2 {
        font-size: 2em;
      }
    }
  }

  .meeting-list-content {
    padding: 1.25em 10px;
    flex-grow: 1;
    background-color: $backgroundWhite;

    .complete-toggle {
      padding: 0;
      margin-bottom: 1.25em;
      display: inline-flex;
      align-items: center;
      border: none;
      font-size: 1em;
      background-color: transparent;
      // cursor: pointer;

      p {
        margin: 0 0.5em;
      }
    }

    @media only screen and (min-width: 991px){
      padding: 1.25em 200px;
    }
    
  }

  .loader {
    margin: 10em auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerSearchLink {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
  }
  .footerSearchLink a:link {
    color: $cityBlue;
    font-weight: bold;
  }
}
