@import '../../utils/colors';

.MeetingListView {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  background-color: $backgroundWhite;

  @media screen and (max-width: 768px) {
    margin-top: 6rem;
  }

  @media screen and (max-width: 500px) {
    margin-top: 4rem;
  }

  .meeting-list-header {
    padding: 0.5em 1.25em;

    .logo {
      width: 77px;
    }

    h2 {
      margin: 0.5em 0;
    }

    .sub-header {
      display: none;
      margin: 0;
      font-size: 1.2em;
    }
    .meeting-links {
      a {
        color: $lightBlue;
        text-decoration: none;
      }
    }
    button {
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.75em;
      padding-left: 1.25em;
      padding-right: 1.25em;
      border: none;
      border-radius: 0.5rem;
      background-color: $atmGold;
      color: $cityBlue;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;

      p {
        margin: 0;
        margin-left: 0.4em;
      }
      &:hover {
        background-color: $cityBronze;
      }
    }

    @media only screen and (min-width: 991px) {
      margin: 0 8em;
      padding-left: 4.5em;

      .logo {
        display: none;
      }

      .sub-header {
        display: block;
      }

      h2 {
        font-size: 2em;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0.5rem 5rem;
    }

    @media screen and (max-width: 500px) {
      padding: 0.5rem 1rem;
    }
  }

  .meeting-list-content {
    padding: 1.25rem 12.5rem 5rem 12.5rem;
    flex-grow: 1;

    .complete-toggle {
      padding: 0;
      margin-bottom: 1.25em;
      display: inline-flex;
      align-items: center;
      border: none;
      font-size: 1em;
      background-color: transparent;
      // cursor: pointer;

      p {
        margin: 0 0.5em;
      }
    }

    .past-meetings {
      text-align: center;
      margin-top: 5em;
      p {
        margin: 0;
      }

      a > p {
        color: $black;
        text-decoration: underline;
      }

      .translate-down {
        // translate external site icon down
        transform: translate(0, 25%);
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0 5rem 5rem 5rem;
    }

    @media screen and (max-width: 500px) {
      padding: 0 1rem 4rem 1rem;
    }
  }

  .loader {
    margin: 10em auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
