@import '../../utils/_colors.scss';

.meeting-links {
  display: flex;
  flex-direction: row;
  text-decoration: none;

  a {
    .upload-agenda-button,
    .delete-agenda-button {
      padding: 10px 15px;
      border-radius: 5px;
      border: transparent;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        padding: 5px 8px;
      }

      svg {
        @media screen and (max-width: 500px) {
          width: 15px;
        }
      }
    }

    .upload-agenda-button {
      color: $cityBlue;
      fill: $cityBlue;
      background-color: $atmGold;
    }

    .delete-agenda-button {
      color: $errorRed;
      fill: $errorRed;
      background-color: transparent;
    }

    .link {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      width: max-content;

      p {
        margin: 0;
        margin-left: 0.4em;

        @media screen and (max-width: 500px) {
          font-size: 13px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .disabled-link {
    color: gray;
    pointer-events: none;

    svg {
      fill: gray;
    }
  }
}
