@import '../../utils/colors';

.CSVUploadModal {
  width: 70vw;
  padding: 3rem;
  box-shadow: rgba(0,0,0,0.2) 0 0 10px;
  background-color: $white;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    h2 {
      display: flex;
      flex-direction: column;
      align-self:flex-start;
      margin: 0;
      color: $black;
      font-weight: 600;

      &::after {
        content: '';
        background-color: $atmGold;
        margin-top: 0.5em;
        height: 3px;
      }
    }

    .upload-area {
      box-sizing: border-box;
      height: 24em;
      width: 750px;
      margin: 2em 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 8px;

      p {
        margin: 0.8em 0;
        font-weight: 600;
      }

      label {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
      }
    }

    button {
      border: none;
      font-family: 'Poppins', sans-serif;
      
    }

    .cancel-button {
      position: absolute;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: scale(0.8);
    }

    .close-modal {
      right: -2.5em;
      top: -2.5em;
    }

    .file-preview {
      position: relative;
      padding: 1.4em;
      margin-bottom: 2em;
      width: 10em;
      background-color: $upcoming;
      color: $happeningBlue;
      border-radius: 4px;
      box-shadow: rgba(0,0,0,0.05) 0 10px 20px;


      .cancel-file {
        right: 0;
        top: 0;
        fill: $happeningBlue;
        transform: scale(0.6);
      }

      .csv-icon {
        height: 4em;
        width: 5em;
        margin: 0 auto;
        padding: 1em;
        background-color: transparent;
        border-radius: 2px;
        border: solid;
        border-width: 1px;
        border-color: $happeningBlue;

        color: $happeningBlue;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      p {
        margin: 1em 0 0;
        overflow-wrap: break-word;
        text-align: center;
      }
    }

    .modal-button {
      padding: 0.5em 2em;
      border-radius: 8px;
      // border: 4px solid transparent;
      // background-color: $atmGold;
      color: $black;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        filter: brightness(0.90);
        // filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.1));
      }
    }

    .upload-button {
      float: right;
      width: 360px;
      padding: 0.5em 0;
      display: flex;
      justify-content: center;
      background-color: $atmGold;
      &:disabled {
        background-color: $pastGray;
        // border: 4px solid $cloudy;
        color: $cloudy;
        cursor: not-allowed;
      }

      .spinner {
        margin-right: 1em;
      }
    }

    .confirm-buttons {
      display: flex;
      justify-content: flex-end;
      justify-self: center;

      & > button:first-child {
        margin-right: 1em;
        background-color: $atmGold;
        border: none;

        &:hover {
          border: none;
        }
      }
    }

    .confirm-message {
      max-width: 70vw;
      padding: 1em 0;
      font-size: 20px;
    }
  }
}