@import '../../utils/colors';

.CSVUploadModal {
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  background-color: white;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;

  .wrapper {
    position: relative;

    h2 {
      display: inline-block;
      margin: 0;
      color: $cityBlue;
      background-color: $greyBlue;
      width: 100%;
      font-weight: 600;
      padding: 1em 2em;
    }

    .upload-area {
      box-sizing: border-box;
      height: 15em;
      width: 600px;
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 6px;

      p {
        margin: 0.8em 0;
        font-weight: 600;
      }

      label {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
      }

      .remove-csv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 8em;
        fill: $errorRed;
        color: $errorRed;
      }
    }

    button {
      font-family: 'Poppins', sans-serif;
    }

    .cancel-button {
      position: absolute;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: scale(0.8);
    }

    .close-modal {
      right: 1em;
      top: 1em;
    }

    .file-preview {
      position: relative;
      padding: 1.4em;
      margin-bottom: 2em;
      width: 10em;
      background-color: white;
      color: $navyBlue;
      border-radius: 8px;
      box-shadow: $gray 0 0 20px;

      .cancel-file {
        right: 0;
        top: 0;
        fill: #fff;
        transform: scale(0.6);
      }

      .csv-icon {
        height: 4em;
        width: 5em;
        margin: 0 auto;
        border-radius: 2px;
        color: white;
        display: flex;
        justify-content: center;
        fill: $navyBlue;
        color: $navyBlue;
      }

      p {
        margin: 1em 0 0;
        overflow-wrap: break-word;
        text-align: center;
      }
    }

    .lower-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2em;
      padding-bottom: 5em;
    }

    .modal-button {
      border-radius: 6px;
      border: 4px solid transparent;
      font-size: 20px;
      font-weight: 900;
      width: 300px;
      padding: 0.5em 0;
      display: flex;
      justify-content: center;
      color: $cityBlue;
      cursor: pointer;

      &:hover {
        background-color: $cityBronze;
      }
    }

    .upload-button {
      background-color: $atmGold;
      margin-bottom: 0.5em;

      &:disabled {
        background-color: $offWhite;
        color: $cloudy;
        cursor: not-allowed;
      }

      .spinner {
        margin-right: 1em;
      }
    }

    .confirm-buttons {
      display: flex;
      justify-content: center;
      padding-bottom: 2em;

      & > button:first-child {
        margin-right: 1em;
        background-color: $atmGold;

        &:hover {
          background-color: $cityBronze;
          border: 4px solid $cityBronze;
        }
      }
    }

    .confirm-message {
      max-width: 650px;
      padding: 2em 3em;
      font-size: 20px;
    }
  }
}