@import '../../utils/colors';

.CSVUploadModal {
  padding: 2em 3em;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  background-color: $blueSky;
  border-radius: 6px;

  .wrapper {
    position: relative;
    width: 750px;

    h2 {
      display: inline-block;
      margin: 0;
      padding-bottom: 0.4em;
      padding-right: 2em;
      border-bottom: 2px solid $cityBronze;
      color: $black;
      font-weight: 600;
    }

    .upload-area {
      box-sizing: border-box;
      height: 24em;
      margin: 4em 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 6px;

      p {
        margin: 0.5em 0;
      }

      label {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .cancel-button {
      position: absolute;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .close-modal {
      right: -2em;
      top: -1em;
    }



    .file-preview {
      position: relative;
      padding: 1.4em;
      margin-bottom: 2em;
      width: 10em;
      background-color: $black;
      color: #fff;
      border-radius: 4px;

      .cancel-file {
        right: 0;
        top: 0;
        fill: #fff;
        transform: scale(0.6);
      }

      .csv-icon {
        height: 4em;
        width: 5em;
        margin: 0 auto;
        padding: 1em;
        background-color: #fff;
        border-radius: 2px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      p {
        margin: 1em 0 0;
        overflow-wrap: break-word;
        text-align: center;
      }
    }

    .upload-button {
      float: right;
      width: 360px;
      padding: 0.5em 0;
      border: 4px solid $lightBronze;
      border-radius: 6px;
      background-color: $lightBronze;
      color: $black;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        background-color: $cityBronze;
      }

      &:disabled {
        background-color: #fff;
        border: 4px solid $cloudy;
        color: $cloudy;
        cursor: not-allowed;
      }
    }
  }
}